In [5]:
import pandas as pd
pd.read_parquet(r'alfabattle2_train_transactions_contest\train_transactions_contest\part_000_0_to_23646.parquet', engine='pyarrow')

,app_id,amnt,currency,operation_kind,card_type,operation_type,operation_type_group,ecommerce_flag,payment_system,income_flag,mcc,country,city,mcc_category,day_of_week,hour,days_before,weekofyear,hour_diff,transaction_number
0,0,0.465425,1,4,98,4,2,3,7,3,2,1,37,2,4,19,351,34,-1,1
1,0,0.000000,1,2,98,7,1,3,7,3,2,1,49,2,4,20,351,34,0,2
2,0,0.521152,1,2,98,3,1,3,7,3,2,1,37,2,4,20,351,34,0,3
3,0,0.356078,1,1,5,2,1,3,7,3,10,1,49,7,2,0,348,34,52,4
4,0,0.000000,1,2,98,7,1,3,7,3,2,1,49,2,4,16,337,53,280,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105226,23646,0.390944,1,1,37,2,1,1,3,1,1,1,3,1,6,9,2,48,32,453
105227,23646,0.428447,1,1,37,2,1,1,3,1,39,1,120,7,5,12,1,48,27,454
105228,23646,0.371478,1,1,37,2,1,1,3,1,22,1,2,9,5,13,1,48,1,455
105229,23646,0.348726,1,1,37,2,1,1,3,1,22,1,3,9,5,13,1,48,1,456
105230,23646,0.324316,1,1,37,2,1,1,3,1,1,1,3,1,5,14,1,48,1,457

In [6]:
pd.read_parquet(r'alfabattle2_train_transactions_contest\train_transactions_contest\part_001_23647_to_47415.parquet', engine='pyarrow')

,app_id,amnt,currency,operation_kind,card_type,operation_type,operation_type_group,ecommerce_flag,payment_system,income_flag,mcc,country,city,mcc_category,day_of_week,hour,days_before,weekofyear,hour_diff,transaction_number
111110,23647,0.309831,1,1,42,2,1,2,2,1,108,1,2,6,6,11,359,46,-1,1
111111,23647,0.310942,1,1,54,2,1,1,2,1,4,1,10,3,6,17,359,46,5,2
111112,23647,0.308504,1,1,54,2,1,1,2,1,4,1,2,3,4,8,357,46,39,3
111113,23647,0.249951,1,1,54,2,1,1,2,1,4,1,2,3,4,9,357,46,1,4
111114,23647,0.296745,1,1,42,2,1,1,2,1,5,1,10,4,4,17,357,46,8,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224261,47415,0.452767,1,1,1,1,1,1,3,1,1,1,4,1,6,11,9,36,2,83
224262,47415,0.320248,1,1,1,1,1,2,3,1,20,1,4,11,5,8,8,36,21,84
224263,47415,0.321173,1,1,1,13,1,2,3,1,29,1,1,6,6,14,2,32,149,85
224264,47415,0.363015,1,1,1,1,1,1,3,1,1,1,4,1,5,17,1,32,27,86
224265,47415,0.266500,1,1,1,1,1,1,3,1,1,1,4,1,5,18,1,32,0,87

In [7]:
pd.read_parquet(r'alfabattle2_train_transactions_contest\train_transactions_contest\part_028_595746_to_615602.parquet', engine='pyarrow')

,app_id,amnt,currency,operation_kind,card_type,operation_type,operation_type_group,ecommerce_flag,payment_system,income_flag,mcc,country,city,mcc_category,day_of_week,hour,days_before,weekofyear,hour_diff,transaction_number
3001943,595746,0.546607,1,2,10,3,1,1,3,1,2,1,12,2,2,12,349,10,-1,1
3001944,595746,0.348838,1,1,10,2,1,1,3,1,7,1,12,5,2,15,349,10,2,2
3001945,595746,0.352417,1,1,10,2,1,1,3,1,4,1,12,3,2,15,349,10,0,3
3001946,595746,0.353044,1,1,10,2,1,1,3,1,4,1,12,3,7,15,348,10,23,4
3001947,595746,0.348838,1,1,10,2,1,1,3,1,7,1,12,5,6,14,347,11,23,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3159145,615602,0.334495,1,1,23,2,1,1,2,1,1,1,3,1,5,18,10,7,21,156
3159146,615602,0.410411,1,2,23,3,1,1,4,1,2,1,3,2,4,18,9,7,24,157
3159147,615602,0.387677,1,2,23,3,1,1,4,1,2,1,37,2,1,18,7,7,48,158
3159148,615602,0.262524,1,1,23,2,1,1,2,1,1,1,3,1,4,18,2,13,120,159
3159149,615602,0.348838,1,2,23,3,1,1,4,1,2,1,3,2,3,18,1,13,24,160

In [3]:
!pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-8.0.0-cp39-cp39-win_amd64.whl (17.9 MB)
     ---------------------------------------- 17.9/17.9 MB 9.9 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.6 in c:\users\vladm\anaconda3\lib\site-packages (from pyarrow) (1.22.4)
Installing collected packages: pyarrow
Successfully installed pyarrow-8.0.0